body {
    background-image: url(src/pictures/dusk_background.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar {
    margin: 20px;
}

.search-bar {
    /* display: inline-block; */
}

#location-highlight {
    display: inline;
    text-align: center;
}


#weather-card {
    display: inline;
    text-align: center;
}
