/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: top;
    justify-content: left;
    background: black;
}

form {
    margin: 20px;
    padding: 20px;
    position: relative;
}

label {
    color: white;
} */

#location-highlight {
    display: inline;
    text-align: center;
}


#weather-card {
    display: inline;
    text-align: center;
}

.nav-bar {
    margin: 20px;
}

.search-bar {
    /* display: inline-block; */
}


/* .toggle {
    position: absolute;
    left: 300px;
    top: 50px;
    height: 10px;
    width: 125px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    border: 10px solid #fff;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.toggle.active::before {
    left: calc(100% - 70px);
    background-color: #fff;
    border-color: green;
} */
